<a href="https://colab.research.google.com/github/nealonleo9/SQL/blob/main/Copy_of_MySQL_LeetCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| PersonId    | int     |
| FirstName   | varchar |
| LastName    | varchar |
+-------------+---------+
PersonId is the primary key column for this table.
Table: Address

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| AddressId   | int     |
| PersonId    | int     |
| City        | varchar |
| State       | varchar |
+-------------+---------+
AddressId is the primary key column for this table.
 

Write a SQL query for a report that provides the following information for each person in the Person table, regardless if there is an address for each of those people:

FirstName, LastName, City, State

In [ ]:
The prompt states we want the information for EACH person in the Person table, 
regardless whether or not they have an address. 
That means we should include everything in the left table (Person table).



Read More
inner join cannot be used as per below:
regardless if there is an address for each of those people

using inner join will only retrieve persons with name and address

You can use left or right join, both options got accepted

In [ ]:
SELECT FirstName,LastName,City,State
FROM Person LEFT JOIN Address ON Person.PersonId = Address.PersonId

In [ ]:
select p.FirstName
    , p.LastName
    , a.City
    , a.State
from Person p
    left join Address a on a.PersonId = p.PersonId

In [ ]:
SELECT FirstName, LastName, City, State from Person LEFT JOIN Address USING (PersonId);